<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello Yusril & Wana NIM 2018-215 & 2018-118</h1>
    <p class="f4-xl mv0 lh-copy fa-navy mw7-l">
      Project Image Retrieval, Rabust Ranking Algorithm on Face Image Retrieval with Attribute Manipulation <a href="https://github.com/YusrilHasanuddin/computer-vision" class="link fa-dk-blue link-underline-dark hover-fa-blue">(Github)</a> 
    </p>
</body>
</html>